{# Kế thừa layout frontend #}
{% extends "frontend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Liên hệ
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Liên hệ
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<div class="container mt-2">
    <h1 class="text-center">Thiên đường hoa - Nơi tôn lên vẻ đẹp</h1>
    <div class="row">
        <div class="col col-md-12">
            <h5 class="text-center">Với mong muốn xây dựng một hệ sinh thái cho ngành hoa tươi dựa trên nền tảng
                 Công nghệ thông tin. Việc ứng dụng công nghệ giúp chúng tôi tiết kiệm những quy trình không cần
                 thiết để giảm giá thành sản phẩm và giải quyết được nhiều bài toán lớn về chuỗi cung ứng hoa tươi trên cả nước.</h5>
            <h5 class="text-center"> Flowers - PV là một website chuyên cung cấp dịch vụ điện hoa, quà tặng chuyên nghiệp đến
                 khắp các tỉnh, thành phố trên cả nước. Chúng tôi hướng đến một dịch vụ chuyên nghiệp trong việc truyền tải những thông điệp, cảm xúc của người tặng đến người nhận.</h5>
        </div>
    </div>
</div>
{% endblock %}
{# End Nội dung trong block content #}

{% block customscripts %}
{% endblock %}