{% extends "backend/layouts/layouts-fullpage.html.twig" %}

{% block title %}
Kích hoạt tài khoản
{% endblock %}

{% block headline %}
Kích hoạt tài khoản
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Bạn chưa kích hoạt tài khoản. Vui lòng kiểm tra hộp mail để kích hoạt tài khoản</h1>
        </div>
    </div>
</div>
{% endblock %}