{% extends "backend/layouts/layout-fullpage.html.twig" %}

{% block title %}
Kích hoạt tài khoản Success
{% endblock %}

{% block headline %}
Kích hoạt tài khoản Success
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="color: red">Chúc mừng bạn đã kích hoạt tài khoản thành công!</h1>
        </div>
    </div>
</div>
{% endblock %}